[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=secrets
Comment=secrets
Icon=/home/pelle/bin/secrets.svg
Exec=/home/pelle/bin/secrets
Terminal=false
Categories=Tags;Describing;Application